
/* Los estilos de tu proyecto */

body {
	background-color: #F7B617;
}
/*Ajustamos el navegador */
nav  {
	background-color: #FFFFFF;
	height: 110px;
	padding-top: 30px;
}

/*Ajustamos logo superior*/
#logo {
	height: 30px;
	width: 133px;
}

/*Primera seccion*/
.sidebar {
	height: 530px;
	background-color: #F7B617;
}

#fondo1 {
  background-image: url(../assets/images/taxi.jpg);
  background-size: cover;
  background-position: 83% 93%;
  background-repeat: no-repeat;
  height: 55em;
}

/*caja de texto */
#cajita {
	float: right;
	background-color: #F7B617;
	height: 390px;
	width: 525px;
}

#cajita h2 {
	padding-left: 15px;
	color: white;
	font-family:'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 35px;
	padding-top: 30px;
}

#cajita h3 {
	padding-top:20px;
	padding-left:15px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
}

#cajita h6{
	padding-top:10px;
	padding-left:55px;
	padding-bottom: 18px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
}


/*logo dentro del texto de la caja*/
#logito {
	width: 90px;
	height: 25px;
	padding-bottom:5px;
}

/*Configuramos la separacion entre botones*/
h6::after {
  content: "________________________";
}
 
h6::before {
  content: "________________________";
}
 

/*configuramos botones*/
.btn-secondary {
	font-size: 18px;
	background: white;
	color: black;
	margin-left: 50px;
	font-weight: 400;
}


/*ajustamos caja de texto opcion movil*/
#cajita2 {
	float: right;
	background-color: #F7B617;
	height: 200px;
	width: 385px;
}

#cajita2 h2 {
	font-family: 'Open Sans', sans-serif;
	color:white;
	font-weight: 600;
	font-size: 30px;
	margin-left: 30px;
}

#logito2 {
	width: 84px;
	height:24px;
	padding-bottom:3px;
}



/*segunda parte*/

.col-lg-10 {
	padding-left:80px;
	border-bottom: solid 1px white;
	border-top: solid 1px white;
	border-right: solid 1px white;
	margin-top: 40px;
	}

#telefono {
	width: 340px;
	height:380px;
	margin-right:40px;
	display: inline;
}

#parrafo  {
	margin-top: 85px;
	color:white;
	font-size: 20px;
}


#telefono2 {
	width: 280px;
	height:320px;
}



/*tercera seccion*/
#fondo2 {
	background-image: url(../assets/images/conduce.jpg);
	background-size: cover;
	background-position: 20% 80%;
	height: 430px;

}

