/* Los estilos de tu proyecto */

body {
	background-color: #F7B617;
}
/*Ajustamos el navegador */
nav  {
	background-color: #FFFFFF;
	height: 110px;
	padding-top: 30px;
}

/*Ajustamos logo superior*/
#logo {
	height: 30px;
	width: 133px;
}

/*Primera seccion*/
.sidebar {
	height: 530px;
	background-color: #F7B617;
}

#fondo1 {
  background-image: url(../assets/images/taxi.jpg);
  background-size: cover;
  background-position: 83% 93%;
  background-repeat: no-repeat;
  height: 55em;
}

/*caja de texto */
#cajita {
	float: right;
	background-color: #F7B617;
	height: 390px;
	width: 525px;
}

#cajita h2 {
	padding-left: 15px;
	color: white;
	font-family:'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 35px;
	padding-top: 30px;
}

#cajita h3 {
	padding-top:20px;
	padding-left:15px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
}

#cajita h6{
	padding-top:10px;
	padding-left:55px;
	padding-bottom: 18px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
}


/*logo dentro del texto de la caja*/
#logito {
	width: 90px;
	height: 25px;
	padding-bottom:5px;
}

/*Configuramos la separacion entre botones*/
h6::after {
  content: "________________________";
}
 
h6::before {
  content: "________________________";
}
 

/*configuramos botones*/
.btn-secondary {
	font-size: 18px;
	background: white;
	color: black;
	margin-left: 50px;
	font-weight: 400;
}


/*ajustamos caja de texto opcion movil*/
#cajita2 {
	float: right;
	background-color: #F7B617;
	height: 200px;
	width: 385px;
}

#cajita2 h2 {
	font-family: 'Open Sans', sans-serif;
	color:white;
	font-weight: 600;
	font-size: 30px;
	margin-left: 30px;
}

#logito2 {
	width: 84px;
	height:24px;
	padding-bottom:3px;
}



/*segunda parte*/

.col-lg-10 {
	padding-left:80px;
	border-bottom: solid 1px white;
	border-top: solid 1px white;
	border-right: solid 1px white;
	margin-top: 40px;
	}

#telefono {
	width: 340px;
	height:380px;
	margin-right:40px;
	display: inline;
}

#parrafo  {
	margin-top: 85px;
	color:white;
	font-size: 20px;
}


#telefono2 {
	width: 280px;
	height:320px;
}



/*tercera seccion*/
#fondo2 {
	background-image: url(../assets/images/conduce.jpg);
	background-size: cover;
	background-position: 20% 60%;
	height: 430px;
	position: relative;

}

/*configura texto traslucido*/
#traslucida {
	margin-top: 1300px;
	margin-left: 820px;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 464px;
    height: 430px;
}

#traslucida h2{
	color: white;
	margin-top:110px;
	margin-left: 45px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

#traslucida ul {
	color: white;
	font-size: 18px;
}

#botonamarillo {
	color:white;
	background-color: #F7B617;
}


/*configuramos version movil*/

#traslucida2 {
	margin-top: 1270px;
	margin-left: -1850px;
	background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 330px;
    z-index: 1000;
}

#traslucida2 h2 {
	font-size: 14px;
	color: white;
	margin-top:110px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

#traslucida2 ul {
	color:white;
}

#boton1 {
	background-color: white;
	margin-left: 50px;
}

#boton2 {
	background-color: white;
	margin-left: 50px;
	color: black;
}

#boton3 {
	background-color: #f7b617;
	margin-left: 40px;
	margin-top: 10px;
	color: white;
}

#rutas {
	height: 550px;
}


#tarifaruta {
	font-family: 'Open Sans', sans-serif;
	margin-top: 96px;
	margin-left: 113px;
	color: white;
}

#tarifaruta h2 {
	font-weight: 600;
}

#tarifaruta h3 {
	font-size: 18px;
	font-weight: 200;
}

.form-control{

	background-color: white;
	height: 40px;
	width: 312px;
}

#botoncito {
	text-align: center;
	background-color: white;
	color: black;
	font-weight: 800;
	width: 200px;
	border: none;
}

#mapachico {
	margin-left: -70px;
	margin-top: 50px;
}

.fa-twitter {
	color: white;
	position: absolute; 
	bottom: -290px; 
}

.fa-linkedin {
	color: white;
	position: absolute; 
	bottom: -290px; 
}

.fa-apple {
	color: white;
	position: absolute; 
	bottom: -290px; 
}

.fa-play {
	color: white;
	position: absolute; 
	bottom: -290px; 
}

.fa-facebook {
	color: white;
	position: absolute; 
	bottom: -290px; 
}

.footer {
	height: 600px;
	background:#2B2B2B;
}

#sns {
	padding-left: 120px;
}

hr {
	margin-top: 40px;
	color: white;
	width: 1070px;
	margin-left: 110px;
}

#primeracolumna {
	color:white;
	line-height: 30px;
	padding-bottom: 40px;
}


#segundacolumna {
	color:white;
	line-height: 30px;
	padding-bottom: 40px;
}

#google {
	width: 142px;
	position: absolute; 
	bottom: -290px; 
}

#apple {
	width: 142px;
	position: absolute; 
	bottom: -230px;	
}

#piepagina {
	color: white;
}
