
@media  (max-width: 300px )  {
 	[class*="panel"]  {

 		max-width: 100%;
 		flex:none;
 	}

nav {
	padding-top: -1px;
}

#fondo1 {
  background-image: url(../assets/images/fotodeperfil.jpg);
  background-size: cover;
  background-position: 80% 97%;
  background-repeat: no-repeat;
  height: 50em;
}

#logo {
	margin-left: 50px;
	height: 20px;
	width: 83px;
}
#cajita2 {
	float: right;
	background-color: #F7B617;
	height: 130px;
	width: 245px;
	font-size: 16px;
}

#telefono2 {
	width: 200px;
	height:220px;
}


#fondo2 {
	background-position: 30% 70%;
	height: 430px;
	position: relative;

}





@media  (max-width: 750px )  {
 	[class*="panel"]  {

 		max-width: 100%;
 		flex:none;
 	}
nav {
	padding-top: -1px;
}

#fondo1 {
  background-image: url(../assets/images/taxi.jpg);
  background-size: cover;
  background-position: 80% 97%;
  background-repeat: no-repeat;
  height: 50em;
}

#logo {
	margin-left: 50px;
	height: 20px;
	width: 83px;
}

#cajita2  {
	float: right;
	background-color: #F7B617;
	height: 180px;
	width: 355px;
	font-size: 20px;
}

#telefono2 {
	width: 200px;
	height:220px;
}

.col-lg-10 {
	border-bottom: none;
	border-top:none;
	border-right: none;
	padding: none;
	}

#fondo2 {
	background-position: 67% 90%;
	height: 430px;
	position: relative;
}

